<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- Note Listeners cannot used two times i.e at class level and then again at testng.xml level. Use only either of the levels -->
	<listeners>
		<!-- <listener class-name="com.listeners.TestListener" /> -->
		<!-- <listener class-name="com.listeners.MethodInterceptorListener" /> -->
		<!-- <listener class-name="com.listeners.AnnotationListener" /> -->
		<!-- <listener class-name="com.listeners.RetryAnalyzer" />  -->
	</listeners>
	<test thread-count="2" name="Test" parallel="methods">
		<classes>
			<class name="com.tests.HRMLoginPageTests" />
			<class name="com.tests.HRMHomePageTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
